@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fleur+De+Leah&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #3A0519;
    color: white;
    box-sizing: border-box;
    height: 100vh;

}

.titulo {
    background-color: #A53860;
    margin: 0px;
    border: 20px;
    padding: 30px;
    font-size: 50px;
    font-family: "Fleur De Leah", cursive;
     font-weight: 400;  /*Define o peso da fonte*/
    font-style: normal; 
}

.subtitulo {
    justify-content: center;
    font-size: 30px;
    margin: 2%;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.apresentacao {
    display: flex;
    align-items: center; /*Posiciona os elementos no centro da tela*/
     justify-content: space-between; /* Posiciona os elemento com espaçamento igual entre eles*/
    margin: 5%;
}

.apresentacao__conteudo {
    margin: 2%;
    display: flex;
     flex-direction: column;  /*Muda o fluxo da tela para vertical.*/
    gap: 20px;
}

.apresentacao__conteudo__subtitulo {
    font-size: 25px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentaca__conteudo__texto {
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.imagem {
    height: 600px;
     border-radius: 20px;  /*Arredonda a borda*/
}

.destaque-texto {
    color: #A53860;
}

a {
    border-color: #EF88AD;
    color: #A53860;
}

.links { 
    display: flex;
    justify-content: space-around;

}
.instagram, .github {
    background-color: #A53860;
    color: white;
    width: 240px;
    text-align: center;
    text-decoration: none;
    border-radius: 18px;
    padding: 18px 0;  /*Espaçamento entre o item e a borda*/
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}